<div id="sidebar" class="nav-collapse ">
    <!-- sidebar menu start-->
    <ul class="sidebar-menu">
        <li class="active">
            <a class="" href="#" [routerLink]="['/dashboard']">
                <i class="icon_house_alt"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a class="" href="#" [routerLink]="['/widgets']">
                <i class="icon_genius"></i>
                <span>Widgets</span>
            </a>
        </li>
        <li>
            <a class="" href="#" [routerLink]="['/charts']">
                <i class="icon_piechart"></i>
                <span>Charts</span>
            </a>
        </li>
        <li class="sub-menu">
            <a href="javascript:;" class="">
                <i class="icon_documents_alt"></i>
                <span>Pages</span>
                <span class="menu-arrow arrow_carrot-right"></span>
            </a>
            <ul class="sub">
                <li><a class="" href="profile.html">Profile</a></li>
                <li><a class="" href="login.html"><span>Login Page</span></a></li>
                <li><a class="" href="contact.html"><span>Contact Page</span></a></li>
                <li><a class="" href="#" [routerLink]="['/pageblan']">Blank Page</a></li>
                <li><a class="" href="404.html">404 Error</a></li>
            </ul>
        </li>
    </ul>